### Creating series and DataFrames

In [ ]:
import pandas as pd
import numpy as np
data=[1,2,3,4,5,6,7,8,9,10]
df=pd.DataFrame(data)
df.head()

daa=np.arange(1,12)
daf=pd.DataFrame(daa)
print('daf data frame:\n',daf)

series=pd.Series(data)
print('Series:\n',series.head())

print(type(series))

In [9]:
# lets confirm to be sure we had created a pandas series
type(series)

pandas.core.series.Series

In [10]:
# lets create a series using the same list but now we will be adding our own serial numbering in python 
series=pd.Series(data, index=['a','b',"c","d","e","f","g","h","i","j"])
series.head()

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
# lets create a series using python dictionary

# lets create python dictionary
data2={'a':10,'b':20,'c':30,'d':40,'e':50}
series=pd.Series(data2)
series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [14]:
# Hands on practice

data3=['Biro','Chalk','sweet','Cup','Book','Cable']
df=pd.Series(data3, index=['a','b','c','d','e','f'])
df

# 2
data={'Name':'Zacheaus','Age':26,'Track':'AI-Engineer','Hobby':'Movie','Occupation':'Engineer','p.Foot':'Right'}
df=pd.Series(data)
print('Queston2:\n',df)

Queston2:
 Name             Zacheaus
Age                    26
Track         AI-Engineer
Hobby               Movie
Occupation       Engineer
p.Foot              Right
dtype: object

In [ ]:
# Creating dataframe
my_data={'Name':['Ayo', 'Dayo', 'Juwon'],
         'Age':[20, 21,24],
         'Town':['Abk','Benin','Ikeja']}
df=pd.DataFrame(my_data)
print(df)

# checking for series
df=pd.Series(my_data)
print('checking for series:\n',df)
print('Showing for shape:\n',df.shape)
print('Showing for info:\n',df.info)
print('showing for describe:\n',df.describe)

    Name  Age   Town
0    Ayo   20    Abk
1   Dayo   21  Benin
2  Juwon   24  Ikeja
checking for series:
 Name     [Ayo, Dayo, Juwon]
Age            [20, 21, 24]
Town    [Abk, Benin, Ikeja]
dtype: object
Showing for shape:
 (3,)
Showing for info:
 <bound method Series.info of Name     [Ayo, Dayo, Juwon]
Age            [20, 21, 24]
Town    [Abk, Benin, Ikeja]
dtype: object>
showing for describe:
 <bound method NDFrame.describe of Name     [Ayo, Dayo, Juwon]
Age            [20, 21, 24]
Town    [Abk, Benin, Ikeja]
dtype: object>

### B. Data input and output

In [54]:
# saving data to csv


#pd.read_csv('class_data.csv')
df=pd.read_csv('created_data.csv')
doo=pd.DataFrame(df)
print('showing:\n',df.head())
# print('Description:\n',df.describe())
# print('Information:\n',df.info())
# print('Column:\n',df.columns)

# print('Crafting a column:\n',df['Seat_No'])
# df.isna().sum()
#df.duplicated()

# selecting multiple column
df[['Last_Name','Seat_No']]

# cell selection
df['City'][0]

showing:
   First_Name Last_Name  Gender  Seat_No    City     Course_Track PC_make  \
0      Emeka    Julius    Male      101   Lagos     Data Science      HP
1      Aisha     Bello  Female      102   Abuja  Cloud Computing    Dell
2        Ayo   Adewale    Male      103  Ibadan    Cybersecurity      HP
3    Chinedu  Godswill    Male      104   Enugu               AI    Asus
4     Fatima  Abubakar  Female      105    Kano     Data Science   Apple

     PC_Os   Feedback
0  Windows       Good
1    Linux  Excellent
2  Windows  Excellent
3  Windows       Good
4    Linux       Poor

'Lagos'

Conditional filltering

In [60]:
# Filter rows where Gender is 'Female'. This is going to return dataframe
filtered_male=df[df['City']=='Lagos']
print('Rows where City is Lagos\n',filtered_male)

Rows where City is Lagos
    First_Name Last_Name  Gender  Seat_No   City   Course_Track PC_make  \
0       Emeka    Julius    Male      101  Lagos   Data Science      HP
10        Ada      Umeh  Female      111  Lagos   Data Science      HP
12      Mercy      Musa  Female      113  Lagos  Cybersecurity  Lenovo

      PC_Os Feedback
0   Windows     Good
10    Linux     Good
12  Windows  Average

In [ ]:
# conditional filtering
filtre_female=df[df['Gender']=='Female']
print(filtre_female)

In [62]:
# filter row where gender is female and city is lagos
two_col=df[(df['Gender']=='Female') & (df['City']=='Lagos')]
print(two_col)

   First_Name Last_Name  Gender  Seat_No   City   Course_Track PC_make  \
10        Ada      Umeh  Female      111  Lagos   Data Science      HP
12      Mercy      Musa  Female      113  Lagos  Cybersecurity  Lenovo

      PC_Os Feedback
10    Linux     Good
12  Windows  Average

In [64]:
cities=['Lagos','Abuja']
filter=df[(df['Gender']=='Female') & (df['City'].isin(cities))]
print(filter)

   First_Name Last_Name  Gender  Seat_No   City     Course_Track PC_make  \
1       Aisha     Bello  Female      102  Abuja  Cloud Computing    Dell
10        Ada      Umeh  Female      111  Lagos     Data Science      HP
12      Mercy      Musa  Female      113  Lagos    Cybersecurity  Lenovo
14     Zainab  Mohammed  Female      115  Abuja  Cloud Computing    Dell

      PC_Os   Feedback
1     Linux  Excellent
10    Linux       Good
12  Windows    Average
14    MacOS       Good

Using the query method to filter

In [71]:
query=df.query('Gender == "Female" and City in ["Lagos","Abuja"]')
print(query)

   First_Name Last_Name  Gender  Seat_No   City     Course_Track PC_make  \
1       Aisha     Bello  Female      102  Abuja  Cloud Computing    Dell
10        Ada      Umeh  Female      111  Lagos     Data Science      HP
12      Mercy      Musa  Female      113  Lagos    Cybersecurity  Lenovo
14     Zainab  Mohammed  Female      115  Abuja  Cloud Computing    Dell

      PC_Os   Feedback
1     Linux  Excellent
10    Linux       Good
12  Windows    Average
14    MacOS       Good

In [ ]:
city=['Lagos', 'Abuja']
aquery=df.query('City == @city')
print(aquery)

In [ ]:
# fillo=df.query('Gender == "Female" and City in ["Benin","Abuja"]')
# print(fillo)

filla=df[(df['Gender']=='Male') & (df['City']=='Benin')]
print(filla)

### Data Transformation

In [84]:
# Lets apply some of the methods to our dataset
df['Gender']=df['Gender'].str.upper()
df.head()

,First_Name,Last_Name,Gender,Seat_No,City,Course_Track,PC_make,PC_Os,Feedback
0,Emeka,Julius,MALE,101,Lagos,NaN,HP,Windows,Good
1,Aisha,Bello,FEMALE,102,Abuja,NaN,Dell,Linux,Excellent
2,Ayo,Adewale,MALE,103,Ibadan,NaN,HP,Windows,Excellent
3,Chinedu,Godswill,MALE,104,Enugu,NaN,Asus,Windows,Good
4,Fatima,Abubakar,FEMALE,105,Kano,NaN,Apple,Linux,Poor

Sorting values

In [85]:
df.sort_values(by='First_Name', ascending=True, inplace=True)
df.head()

,First_Name,Last_Name,Gender,Seat_No,City,Course_Track,PC_make,PC_Os,Feedback
10,Ada,Umeh,FEMALE,111,Lagos,NaN,HP,Linux,Good
1,Aisha,Bello,FEMALE,102,Abuja,NaN,Dell,Linux,Excellent
2,Ayo,Adewale,MALE,103,Ibadan,NaN,HP,Windows,Excellent
19,Chika,Micheal,MALE,120,Onitsha,NaN,Apple,Linux,Excellent
3,Chinedu,Godswill,MALE,104,Enugu,NaN,Asus,Windows,Good

### Grouping and Aggregation

In [ ]:
print('shpwing sum:\n',df['Seat_No'].sum())
print('showing median:\n',df.Seat_No.median())
print('showing describe',df.Seat_No.describe())
print('showing variance',df.Seat_No.var())

In [92]:
bio=pd.read_csv('bio2.csv')
bio.head(10)

,First_Name,Last_Name,Gender,Seat_No,City,Course_Track,PC_make,PC_Os,Feedback
0,Emeka,Julius,Male,101,Lagos,Data Science,HP,Windows,Good
1,Aisha,Bello,Female,102,Abuja,Cloud Computing,Dell,Linux,Excellent
2,Ayo,Adewale,Male,103,Ibadan,Cybersecurity,HP,Windows,Excellent
3,Chinedu,Godswill,Male,104,Enugu,AI,Asus,Windows,Good
4,Fatima,Abubakar,Female,105,Kano,Data Science,Apple,Linux,Poor
5,Ibrahim,David,Male,106,Benin,Cloud Computing,HP,MacOS,Excellent
6,Ngozi,Collins,Female,107,Port Harcourt,Web Dev,Dell,Windows,Good
7,Tolu,Ogunleye,Male,108,Abeokuta,AI,Lenovo,Linux,Average
8,Olamide,Adepoju,Male,109,Benin,Cybersecurity,Asus,MacOS,Good
9,Yusuf,Garba,Male,110,Abeokuta,AI,Apple,Windows,Excellent

In [96]:
print(bio.columns)
print(bio['PC_make'].unique())
print(bio.First_Name.unique())

Index(['First_Name', 'Last_Name', 'Gender', 'Seat_No', 'City', 'Course_Track',
       'PC_make', 'PC_Os', 'Feedback'],
      dtype='object')
['HP' 'Dell' 'Asus' 'Apple' 'Lenovo']
['Emeka' 'Aisha' 'Ayo' 'Chinedu' 'Fatima' 'Ibrahim' 'Ngozi' 'Tolu'
 'Olamide' 'Yusuf' 'Ada' 'Kunle' 'Mercy' 'Segun' 'Zainab' 'Donald' 'Kemi'
 'Usman' 'Funmi' 'Chika']

In [98]:
# what is the total number of student taking each track?
track_count= bio.groupby('Course_Track').agg({'Gender':'count'})
track_count

                 Gender
Course_Track
AI                    4
Cloud Computing       4
Cybersecurity         3
Data Science          6
Web Dev               3

In [ ]:
track_count=df.groupby('City').agg({'Gender':'count'})
track_count

In [103]:
female=bio.groupby('Gender').get_group('Female')
print(female)

   First_Name Last_Name  Gender  Seat_No           City     Course_Track  \
1       Aisha     Bello  Female      102          Abuja  Cloud Computing
4      Fatima  Abubakar  Female      105           Kano     Data Science
6       Ngozi   Collins  Female      107  Port Harcourt          Web Dev
10        Ada      Umeh  Female      111          Lagos     Data Science
12      Mercy      Musa  Female      113          Lagos    Cybersecurity
14     Zainab  Mohammed  Female      115          Abuja  Cloud Computing
16       Kemi   Adebayo  Female      117          Benin          Web Dev
18      Funmi  Williams  Female      119        Calabar     Data Science

   PC_make    PC_Os   Feedback
1     Dell    Linux  Excellent
4    Apple    Linux       Poor
6     Dell  Windows       Good
10      HP    Linux       Good
12  Lenovo  Windows    Average
14    Dell    MacOS       Good
16    Dell    Linux  Excellent
18    Asus  Windows       Good

In [104]:
female['Course_Track'].value_counts()

Course_Track
Data Science       3
Cloud Computing    2
Web Dev            2
Cybersecurity      1
Name: count, dtype: int64