# Group of function in pandas for Data Analysis

A . Creating series and data frames

. creating a pandas series

In [3]:
# Lets create a pandas Series using a python list

#Step 1: Import pandas package

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# set views
pd.set_option('display.max_columns', 100)
pd.set_option('display.width',100)

# step2: Define a list 
data = [1,2,3,4,5,6,7,8,9,10]

#step3: create the series
series= pd.Series(data)
print(series)

# lets view the series we have created
series.head(10)

# lets confirm to be sure we had created a pandas series
type(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

pandas.core.series.Series

In [8]:
# Lets create a series using the same list, but now we will be adding our own serial numbering, in python or pandas it is called index
series2= pd.Series(data,index=["a","b","c","d","e","f","g","h","i","j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [9]:
# lets create a series using python dictionary

# lets create a python dictionary
data2= {'a': 10, 'b': 20, 'c': 30}

# lets create the series
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

# creating a data frame

In [ ]:
# LEts create a dataframe
#Step1: import pandas

# Define the data using dictionary that is having its values as a list.
data = {
    'Name': ['Chris', 'Ayo', 'Ayo'],
    'Age': [26, 24, 22],
    'Home_Town': ['Benin', 'Ibadan', 'Enugu']
}

# lets create the dataframe using "df" as short for dataframe
df = pd.DataFrame(data)
df.head()

In [44]:
# lets do the samething by using list of dictionaries
data2 = [
    {'Name': 'Chris', 'Age': 26, 'Home_Town': 'Benin'},
    {'Name': 'Ayo', 'Age': 24, 'Home_Town': 'Ibadan'},
    {'Name': 'Chisom', 'Age': 22, 'Home_Town': 'Enugu'}
]
# LEts define the dataframe
df2 = pd.DataFrame(data2)
df2.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [14]:
# lets do the same thing using lists of list
data3=[["chris",26,"Benin"],
       ['Ayo', 24, 'Enugu'],
       ['Chisom', 22, 'Ibadan']]
df3=pd.DataFrame(data3, columns=['Name', 'Age','Town'])
df3.head()

     Name  Age    Town
0   chris   26   Benin
1     Ayo   24   Enugu
2  Chisom   22  Ibadan

In [15]:
# lets print the types to be sure the we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

# B. Data input and output

To read in data set we use

In [ ]:
pd.read_csv() # for csv files
pd.read_excel() # for excel files

<class 'pandas.core.frame.DataFrame'>
     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

To save into csv files or excel files

In [ ]:
df.to_csv()
df.to_excel()

# USE CASE EXANPLE
bio_data.to_csv("bio_data.csv", index = False)

# Here we will download our generated data, then load it using pd.read_csv()

df=pd.read_csv("bio_data.csv")

 practicing to read and save

In [ ]:
data1=pd.read_csv('class_data.csv')
data1

# c. Data inspection and Exploration

In [57]:
data1.head()
data1.tail()
data1.info()
data1.describe()
data1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     34 non-null     object
 1   First Name    34 non-null     object
 2   Last Name     34 non-null     object
 3   Course Track  34 non-null     object
 4   City          34 non-null     object
 5   Gender        34 non-null     object
 6   Seat Number   34 non-null     object
 7   PC-Make       34 non-null     object
 8   PC - OS       34 non-null     object
 9   Feedback      34 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

(34, 10)

# D data cleaning

In [ ]:
#data1.isnull()
#data1.isnull().sum()
#data1.duplicated()
data1.drop_duplicates()

# E. Data Selection and Filtering

Viewing data column

In [ ]:
#bio_data_column = [irst_Name, Last_Name, City, Course_Track, PC_make, PC_Os, Feedback]

In [63]:
data1.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number',
       'PC-Make', 'PC - OS', 'Feedback'],
      dtype='object')

# Column selection

In [ ]:
# lets look through a single column
data1[["First Name", "Gender"]]

cell selection

In [71]:
# lets select a single cell
data1['First Name'][0]

'Peter'

Row selection

In [ ]:
# lets select some rows
data1.iloc[0:5]

In [ ]:
# combination of row and column selection
data1.iloc[0:6, 0:4]  # the first slice picks the rows and the second slice picks the columns

working with .loc

In [ ]:
data1.loc[0:5]

 conditional filtering

In [ ]:
# filtering rows where Gender is female. This is going to return dataframe
filtered_male= data1[data1['Gender'] =='Male']
filtered_male

In [ ]:
# filtering row where city is Lagos
filtered_city=data1[data1['City']=='Lagos']
filtered_city

In [ ]:
#fltering rows where city is either Lagos or Ogun
cities=['Lagos', 'Ogun']
filtered=data1[data1['City'].isin(cities)]
filtered

using the .query() method

In [ ]:
# use query to filter rows where course_trackis AI and feedback is Execellent
query_filtered= data1.query('Course Track=="Web Dev"')
query_filtered

In [ ]:
# Define a variable for the course track
desired_track = 'Cloud Computing'

# use the variable in the query expression
cloud=data1.query("Course Track == @desired_track")
cloud

# F. Data Transformation

Renaming column name

In [ ]:
data1.rename(columns={"First Name":"First_Name","Last Name":"Last_Name"})

Applying string method

In [9]:
data1["Last Name"] = data1["Last Name"].str.lower()   # Here we are converting  everything to small letters.

In [10]:
data1["Course Track"] = data1["Course Track"].str.lower()
data1

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,okonmah,ai,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,nababa,ai,Abeokuta,Female,24,HP,Windows,Excellent
2,2025/09/11 12:57:08 PM GMT+1,Perpetual,meninwa,ai,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,abdulhameed,ai,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,gbadamosi,ai,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025/09/11 12:58:55 PM GMT+1,Abdulmalik,adedotun,ai,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025/09/11 12:58:55 PM GMT+1,Naheemot,adebiyi,ai,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025/09/11 12:59:00 PM GMT+1,Kanyisola,fagbayi,ai;data science,Lagos,Female,00082,HP,Windows,One chin chin for you for this form
8,2025/09/11 12:59:16 PM GMT+1,Blessing,james,cyber security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025/09/11 12:59:28 PM GMT+1,Hannah,tanimola,ai,Abeokuta,Male,30,HP,Windows,On God
10,2025/09/11 12:59:41 PM GMT+1,Deborah,adelegan,ai;data science,Abeokuta,Female,001,HP,Windows,None for now
11,2025/09/11 12:59:43 PM GMT+1,Esther,kudoro,ai,Abeokuta,Female,1,HP,Windows,Chill
12,2025/09/11 1:00:03 PM GMT+1,Opeyemi,odejimi,cloud computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025/09/11 1:00:13 PM GMT+1,Olasunkanmi,rasak,ai,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025/09/11 1:00:27 PM GMT+1,Saheed,olayinka,ai;data science;web dev,Abeokuta,Male,29,HP,Windows,None for now
15,2025/09/11 1:00:31 PM GMT+1,Kehinde,akindele,cloud computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025/09/11 1:00:43 PM GMT+1,Oluwole,oludayo,ai,Abeokuta,Male,09,HP,Windows,Good training to attend
17,2025/09/11 1:00:49 PM GMT+1,Samuel,oyewusi,web dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025/09/11 1:00:54 PM GMT+1,Ademola,akinrinde,ai,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
19,2025/09/11 1:01:31 PM GMT+1,Victor,ademuyiwa,ai,kobape,Male,2,ASUS,Windows,Feels good
20,2025/09/11 1:01:44 PM GMT+1,Sherif,okemakinde,ai,Abeokuta,Male,27,HP,Windows,Form filled
21,2025/09/11 1:01:46 PM GMT+1,Ayuba,raji,ai,Abeokuta,Male,26,HP,Windows,None for now
22,2025/09/11 1:01:54 PM GMT+1,Hamid,jimoh,ai,Ibadan,Male,299,DELL,Windows,I am curious
23,2025/09/11 1:02:28 PM GMT+1,Olajide,abioye,ai,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025/09/11 1:02:49 PM GMT+1,Solomon,olaiya,ai,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025/09/11 1:02:56 PM GMT+1,Oluwadamilare,bello,ai,Sango,Male,373,DELL;HP;LENOVO;MACBOOK;ASUS;,Mac OS,Coding is interesting when you understand
26,2025/09/11 1:02:59 PM GMT+1,Oluwaseyi,egunjobi,cloud computing,Cape Town,Male,dirty,MACBOOK,Mac OS,Nice to meet you all
27,2025/09/11 1:03:12 PM GMT+1,Adeoye,mary,ai,abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025/09/11 1:03:36 PM GMT+1,Babatunde,rahmon,ai,Abeokuta,Male,20,none,Windows,i actually have a pc that has a very low stora...
29,2025/09/11 1:06:03 PM GMT+1,Samuel,dasaolu,ai,Abeokuta,Male,100,HP;MACBOOK,Linux,"Good so far, i guess"
30,2025/09/11 1:06:48 PM GMT+1,Gabriel,bamgbose,ai,Abeokuta,Male,2,HP,Windows,Good
31,2025/09/11 1:10:16 PM GMT+1,Ridwanullah,osho,ai;cyber security;data science,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025/09/11 1:11:39 PM GMT+1,Oluwapelumi,adenuga,web dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025/09/11 1:18:15 PM GMT+1,Michael,osisami,ai,Abeokuta,Male,12,DELL;HP,Windows,Nil

In [1]:
# Lets define a Lambda function
#lambda x: x.str.title()

# the .apply() methd will help apply the function to the selected columns
data1["Feedback"]= data1["Feedback"].str.upper()
data1.head()

NameError: name 'data1' is not defined

sorting values

In [ ]:
data1["First Name"]= data1["First Name"].str.title()
data1["Last Name"]=data1["Last Name"].str.title()
data1.sort_values(by="City", ascending=True)

In [ ]:
# lets sort by multiple column
data1.sort_values(by=['Seat Number'], kind='mergesort')

sorting by rows lable or index

In [ ]:
data1.sort_index(axis=0 , level= None, ascending=True, inplace=False, sort_remaining=True)

Grouping and aggregation

In [45]:
# Lets manually create a bio_data sample data
bio = {
    'First_Name': ['Emeka', 'Aisha', 'Ayo', 'Chinedu', 'Fatima', 'Ibrahim', 'Ngozi', 'Tolu', 'Olamide', 'Yusuf',
                   'Ada', 'Kunle', 'Mercy', 'Segun', 'Zainab', 'Donald', 'Kemi', 'Usman', 'Funmi', 'Chika'],
    'Last_Name': ['Julius', 'Bello', 'Adewale', 'Godswill', 'Abubakar', 'David', 'Collins', 'Ogunleye', 'Adepoju', 'Garba',
                  'Umeh', 'Ojo', 'Musa', 'Balogun', 'Mohammed', 'Obi', 'Adebayo', 'Suleiman', 'Williams', 'Micheal'],
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male',
               'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Seat_No': range(101, 121),
    'City': ['Lagos', 'Abuja', 'Ibadan', 'Enugu', 'Kano', 'Benin', 'Port Harcourt', 'Abeokuta', 'Benin', 'Abeokuta',
             'Lagos', 'Abeokuta', 'Lagos', 'Ibadan', 'Abuja', 'Port Harcourt', 'Benin', 'Jos', 'Calabar', 'Onitsha'],
    'Course_Track': ['Data Science', 'Cloud Computing', 'Cybersecurity', 'AI', 'Data Science', 'Cloud Computing',
                     'Web Dev', 'AI', 'Cybersecurity', 'AI', 'Data Science', 'Web Dev',
                     'Cybersecurity', 'AI', 'Cloud Computing', 'Data Science', 'Web Dev', 'Data Science',
                     'Data Science', 'Cloud Computing'],
    'PC_make': ['HP', 'Dell', 'HP', 'Asus', 'Apple', 'HP', 'Dell', 'Lenovo', 'Asus', 'Apple',
                'HP', 'Dell', 'Lenovo', 'Asus', 'Dell', 'HP', 'Dell', 'Lenovo', 'Asus', 'Apple'],
    'PC_Os': ['Windows', 'Linux', 'Windows', 'Windows', 'Linux', 'MacOS', 'Windows', 'Linux', 'MacOS', 'Windows',
              'Linux', 'MacOS', 'Windows', 'Linux', 'MacOS', 'Windows', 'Linux', 'MacOS', 'Windows', 'Linux'],
    'Feedback': ['Good', 'Excellent', 'Excellent', 'Good', 'Poor', 'Excellent', 'Good', 'Average', 'Good', 'Excellent',
                 'Good', 'Poor', 'Average', 'Excellent', 'Good', 'Average', 'Excellent', 'Good', 'Good', 'Excellent']
}

In [ ]:
Create=pd.DataFrame(bio)
Create.head()

In [ ]:
Create.to_csv('created_data.csv', index=False)

In [48]:
Create['Course_Track'].unique()

array(['Data Science', 'Cloud Computing', 'Cybersecurity', 'AI',
       'Web Dev'], dtype=object)

In [49]:
Create['First_Name'].nunique()

20

In [ ]:
# What is the total numbers of students taking each track?
track_count=Create.groupby('Course_Track').agg({'First_Name':'count'})
track_count

In [ ]:
# What is the total number of students having the same numbers of PC_make
Create.groupby('PC_make')['PC_make'].count()

In [ ]:
Create.groupby('Course_Track').agg({'First_Name': 'count', 'PC_make': 'count'})

In [ ]:
# What city are each track from?
Create.groupby('Course_Track').agg({'First_Name':'count','City':'sum'})

In [ ]:
# What is the most common course among the female students?
female=Create.groupby('Gender').get_group('Female')
female.groupby('Course_Track').agg({'First_Name':'count'})

In [57]:
# What is the most common course among the Male students?
male=Create.groupby('Gender').get_group('Male')
male.groupby('Course_Track').agg({'First_Name':'count'})

                 First_Name
Course_Track
AI                        4
Cloud Computing           2
Cybersecurity             2
Data Science              3
Web Dev                   1

In [58]:
# Total number of male and female
Create.groupby('Gender')['Gender'].count()

Gender
Female     8
Male      12
Name: Gender, dtype: int64

In [68]:
city=Create.groupby('City').get_group('Lagos')
city
city.groupby('Course_Track').agg({'Course_Track':'count'})

               Course_Track
Course_Track
Cybersecurity             1
Data Science              2

# Data Reshaping

In [ ]:
# Note that is just an illustration of what is possible. It does not make sense to take the mean of Seat_No
pivot_table= pd.pivot_table(Create,
                            index='Gender',
                            columns='Course_Track',
                            values='Seat_No',
                            aggfunc='mean')
print('pivot Table of Average Seat_No by Gender and Course_Track:')
pivot_table

In [ ]:
pivot=pd.pivot_table(Create,
                     index='City',
                     columns='Course_Track',
                     values='PC_make',
                    aggfunc='sum' )
pivot

In [ ]:
povo=pd.pivot_table(Create,
                    index='Gender',
                    columns='Feedback',
                   values='First_Name',
                    aggfunc='sum' )
povo

In [ ]:
# lets transpose this
pivot_table.T

# i. Merging and Joining

In [79]:
# Lets add more details to our bio_data2 dataset by create a new one.



course_data = {
    'Course_Track': ['Data Science', 'Web Dev', 'Cybersecurity', 'AI', 'Cloud Computing'],
    'Duration': ['8 months', '4 months', '5 months', '7 months', '6 months'],
    'Fee': [600000, 350000, 450000, 550000, 500000]
}
course_df = pd.DataFrame(course_data)
# both create and course_data have "Course_Track" in common

# Merge the two DataFrames on Course_Track (inner join by default)
merged_df=pd.merge(Create,course_df, on='Course_Track',how='left')
merged_df.head()

,First_Name,Last_Name,Gender,Seat_No,City,Course_Track,PC_make,PC_Os,Feedback,Duration,Fee
0,Emeka,Julius,Male,101,Lagos,Data Science,HP,Windows,Good,8 months,600000
1,Aisha,Bello,Female,102,Abuja,Cloud Computing,Dell,Linux,Excellent,6 months,500000
2,Ayo,Adewale,Male,103,Ibadan,Cybersecurity,HP,Windows,Excellent,5 months,450000
3,Chinedu,Godswill,Male,104,Enugu,AI,Asus,Windows,Good,7 months,550000
4,Fatima,Abubakar,Female,105,Kano,Data Science,Apple,Linux,Poor,8 months,600000

Theres another function called join

In [82]:
# Create a city DataFrame with details for each unique city in your bio dataset
city_data = {
    'City': ['Lagos', 'Abuja', 'Ibadan', 'Enugu', 'Kano', 'Benin', 'Port Harcourt', 'Abeokuta', 'Jos', 'Calabar', 'Onitsha'],
    'Population': [14000000, 3000000, 5000000, 4000000, 3500000, 2000000, 2500000, 800000, 600000, 500000, 900000],
    'Region': ['South West', 'Federal Capital Territory', 'South West', 'South East', 'North West',
               'South South', 'South South', 'South West', 'North Central', 'South South', 'South East']
}

city_df = pd.DataFrame(city_data)

# Lets set index for the dataset before joining
df_index= city_df.set_index('City')

In [83]:
# Lets join this with merged_df
joined_df = df_index.join(merged_df, how='left')
print("Joined DataFrame using .join():")
joined_df.head()

Joined DataFrame using .join():

,Population,Region,First_Name,Last_Name,Gender,Seat_No,City,Course_Track,PC_make,PC_Os,Feedback,Duration,Fee
City,,,,,,,,,,,,,
Lagos,14000000,South West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abuja,3000000,Federal Capital Territory,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ibadan,5000000,South West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Enugu,4000000,South East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kano,3500000,North West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN