In [1]:
import pandas as pd
import os

In [ ]:
#url = "https://raw.githubusercontent.com/username/repository/branch/path/to/yourfile.csv"
#df = pd.read_csv(url)
sales=pd.read_csv('sales_data.xls')

# Exploratory Data Analysis

In [5]:
sales.head(3)

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4,3201,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,5,3202,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,4,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,9,3203,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,5,NGN,2024-03-30 04:19:10.406794,success,Saint Helena

In [7]:
sales.isna().sum()

customer_id        0
device_id          0
item_id            0
line_item_id       0
order_id           0
event_id           0
event_timestamp    0
quantity           0
currency           0
checked_out_at     0
status             0
location           0
dtype: int64

In [8]:
sales.shape

(578320, 12)

In [ ]:
# using loc and iloc
sales.loc[[0,2,4,6]]  # works with both integres and strings
sales.iloc[[0,2,4,6]] # works with only integers

In [10]:
# indexing column using loc. this is having first argument for the row and second argument column using column names or strings
sales.loc[[0,2,4,6], ['customer_id','device_id','item_id']]

,customer_id,device_id,item_id
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,9
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,6
6,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4

In [28]:
# indexing columns by having first argument for the row and the second argument for the column but taking the index number
sales.iloc[[0,2,4,6],[0,1,2,10]]

,customer_id,device_id,item_id,status
location,,,,
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4,success
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,9,success
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,6,success
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4,success

In [ ]:
# Using iloc for integer or index numbers
#sales.iloc[0:4,0:4]
# sales.iloc[0:-1,1:4]

In [ ]:
# lets work with index...using loc and iloc...
sales.set_index("location", inplace = True)

In [ ]:
sales.head(3)

In [18]:
sales.index

Index(['Saint Helena', 'Saint Helena', 'Saint Helena', 'Saint Helena',
       'Saint Helena', 'Saint Helena', 'Saint Helena', 'Saint Helena',
       'Saint Helena', 'Saint Helena',
       ...
       'Christmas Island', 'Christmas Island', 'Christmas Island',
       'Christmas Island', 'Christmas Island', 'Christmas Island',
       'Christmas Island', 'Christmas Island', 'Christmas Island',
       'Christmas Island'],
      dtype='object', name='location', length=578320)

In [31]:
# list af all the locations or countries where all the customers purchase from...
unique_index = sales.index.unique().sort_values()
unique_index

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica (the territory South of 60 deg S)',
       'Antigua and Barbuda', 'Argentina',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='location', length=243)

In [33]:
# top 10 countries or locations where most patronage are recieved...
sales.index.value_counts()

location
Korea        6997
Argentina    4507
Mauritius    4414
Jersey       4130
Panama       3936
             ...
Chad         1082
Malaysia     1037
Austria       921
Italy         783
Uruguay       734
Name: count, Length: 243, dtype: int64

In [ ]:
sales.index.value_counts().head(10).plot(kind = 'bar')

In [ ]:
# top 10 countries where most patronage are recieved....
sales.index.value_counts().head(100).plot(kind = 'bar',figsize = (20,20))

In [35]:
unique_index.nunique()

243

In [ ]:
sales.columns

In [ ]:
len(sales.columns)

In [ ]:
sales.loc["Brazil"] # I selected any of the unique values in the index...

In [ ]:
# Filtering
sales[sales["customer_id"] == "56d7d069-2f58-4b35-9559-9405c45cae33"]

In [42]:
# Total nmunbers of customers
sales["customer_id"].nunique()

4594

In [ ]:
# Top 20 custommers with the highest purchases....
sales["customer_id"].value_counts().sort_values(ascending = False).head(20).plot(kind="bar")

In [44]:
# lets pick one of these customers and see their behaviour
mask = (sales["customer_id"] == "ebcb2343-be1b-421e-83eb-6f79a321d999")

In [ ]:
sales[mask].head()

In [46]:
sales.loc[mask,"customer_id":"currency"].head(2) # give me mask , but from colunm customer_id to currency

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency
location,,,,,,,,,
Wallis and Futuna,ebcb2343-be1b-421e-83eb-6f79a321d999,aa3a57b3-6636-4b91-8fa8-56b0524de6c2,5,26108,5984596b-0ed5-4571-8e79-b261e6f138ad,121373,2024-03-27 12:43:53.991103,5,NGN
Wallis and Futuna,ebcb2343-be1b-421e-83eb-6f79a321d999,aa3a57b3-6636-4b91-8fa8-56b0524de6c2,11,26109,5984596b-0ed5-4571-8e79-b261e6f138ad,121373,2024-03-27 12:43:53.991103,1,NGN

In [66]:
sales["currency"].nunique()
#sales["currency"].unique()

3

In [49]:
currency_and_number_times_used = sales["currency"].value_counts()
currency_and_number_times_used

currency
USD    198037
GBP    191403
NGN    188880
Name: count, dtype: int64

In [ ]:
currency_and_number_times_used.plot(kind ="bar" )

In [70]:
# USING MULTIPLE FILTER
mask2 = (sales["customer_id"] == "ebcb2343-be1b-421e-83eb-6f79a321d999") & (sales["status"] == "success")

In [ ]:
sales[mask2]

In [55]:
# lets see the numbers of sucessful transaction carried out by this customer
this_customer = sales.loc[mask]

In [67]:
this_customer["status"].value_counts()
# The output showsthat the particular customer has not experienced failed transaction  at all.

status
success    360
Name: count, dtype: int64

In [71]:
# LEts find out the numbers of failed transaction as compared to others...
transaction_status = sales["status"].value_counts()
transaction_status.head()

status
failed       196383
success      192594
cancelled    189343
Name: count, dtype: int64

In [ ]:
transaction_status.plot(kind = "bar")

In [72]:
currency_by_status = sales.groupby("status")["currency"]
currency_by_status.head()

location
Saint Helena    NGN
Saint Helena    NGN
Saint Helena    NGN
Saint Helena    NGN
Saint Helena    NGN
Djibouti        NGN
Djibouti        NGN
Djibouti        NGN
Djibouti        NGN
Ecuador         USD
Ecuador         USD
Ecuador         USD
Ecuador         USD
Ecuador         USD
Mali            NGN
Name: currency, dtype: object

In [73]:
# FILTERING FOR KOREA
Korea = sales.loc["Korea"]
Korea.head(2)

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status
location,,,,,,,,,,,
Korea,3b0ae8c1-68c6-40c8-a13a-e2bffb5ffdf9,01cf516e-66e6-45f2-a6d6-b6f5f5232778,14,3914,b253052f-6f62-4b1f-bce2-ab2324a2a27c,18219,2024-03-19 10:01:39.523573,5,USD,2024-03-30 04:06:10.636247,cancelled
Korea,3b0ae8c1-68c6-40c8-a13a-e2bffb5ffdf9,01cf516e-66e6-45f2-a6d6-b6f5f5232778,8,3915,b253052f-6f62-4b1f-bce2-ab2324a2a27c,18219,2024-03-19 10:01:39.523573,2,USD,2024-03-30 04:06:10.636247,cancelled

In [63]:
# Lets find out the status of transaction in Korea

failed_transc = Korea[Korea["status"] == "failed"]
successful_transc = Korea[Korea["status"] == "success"]
cancelled_transc = Korea[Korea["status"] == "cancelled"]